/* Mobile size */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s ease 0s;
}

*:hover {
	transition: all .2s ease 0s;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

#wrap {
	display: flex;
	display:	-webkit-flex;
	display:	-ms-flex;
	display:	-moz-flex;
	display:	-o-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	min-height: 100%;
  background-color: #f8f5eb;
  color: #5e4f4f;
	padding-left: 5px; /*Pour garder le fond d'acran en version mobile*/
	padding-right: 5px; /*Pour garder le fond d'acran en version mobile*/
}

 article {
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;
	width: 100%;
	max-width: 1000px;
  background-color: white;
	box-sizing: border-box; /*permet de ne pas impacter la width avec le padding*/
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #9f693a;
	clear: both;
}

.conteiner {
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;
	width: 100%;
	max-width: 1000px;
}

/* Fonts */
@font-face {
font-family: 'niconne';
src: url('../fonts/Niconne-Regular.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'niconne';
src: url('../fonts/Niconne-Regular.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'nobile';
src: url('../fonts/Nobile-Regular.ttf');
font-weight: normal;
font-style: normal;
}

p, ul {
	text-align: justify;
	font-family: 'nobile', verdana, sans-serif;
	line-height: 1.8;
	font-size: 1em;
	margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul li{
 list-style: none;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

i {
	font-size: 1.5em;
	padding: 5px;
}

a, a:visited {
	color: #9f693a;
}

a:hover {
	font-weight: bold;
}

header {
	padding-top: 20px;
	background-color: white;
	clear: both;
}

header div img {
	max-width: 150px;
}


#nav {
		padding-left: 0;
}

#nav li {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	background-color: white;
	border-radius: 20px;
	line-height: 2;
	margin-top: 5px;
  font-family: 'nobile';
}

#nav li a{
	display: block;
	color: #9f693a;
}

#nav li:hover, #nav li:active {
	border: 1px solid #9f693a;
}

#nav li a:hover, #nav li a:active {
	color: black;
}

h1 {
  font-size: 2.5em;
  font-family: 'niconne';
	text-align: center;
}

h2 {
  font-family: 'niconne';
  font-size: 2.3em;
  text-align: center;
}

h3{
  font-family: 'nobile';
  font-size: 1.5em;
  text-align: center;
  color: #9f693a;
}

ul {
	padding: 0;
}

footer, footer ul li{
	text-align: center;
}

footer {
	padding-bottom: 20px;
	background-color: white;
}

.clear {
	clear: both;
}

.align-center * {
	text-align: center;
}

.erreur {
	text-align: center;
}

#plan {
	box-shadow: 0px 0px 10px 3px grey;
	padding: 20px;
}

#plan:hover {
	box-shadow: 0px 0px 10px 3px #9f693a;
}

@media screen and (min-device-width: 640px) {
	header div {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -o-flex;
		align-items: center;
	}

	header div img {
		margin-left: 0;
		margin-right: 2.5em;
		max-width: 100px;
	}

	#nav {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -o-flex;
		justify-content: space-between;
		margin-top: 0;
		margin-bottom: 0;
	}

	#nav li {
		-webkit-flex-dirrection: row;
		-ms-flex-dirrection: row;
		-moz-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		flex-grow: 1;
		margin: 5px;
	}

	article img {
		max-width: 100%;
		max-height: 100%;
	}

	article:nth-of-type(odd) img {
		float: left;
		margin-right: 20px;
	}

	article:nth-of-type(even) img {
		float: right;
		margin-left: 20px;
	}

	article::after {
   content: "";
   display: block;
   clear: both;
	}

	iframe {
		float: left;
		margin-right: 20px;
	}
